<html>

<head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1">
                  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<div class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
        </div>
        
       
                {% if "StoreSearch" in CurrentPage %}
                 <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('Home') }}">Home</a></li>
                <li><a href="{{ url_for('SearchLow') }}">Lowest Price Search</a></li>
                <li class="active"><a href="{{ url_for('SearchStore') }}">Store Search</a></li>
                <li><a href="{{ url_for('SearchItem') }}">Single Item Search</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Retail Arbitrage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"></a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>


                {% elif "LowestPrice" in CurrentPage %}
                 <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('Home') }}">Home</a></li>
                <li class="active"><a href="{{ url_for('SearchLow') }}">Lowest Price Search</a></li>
                <li><a href="{{ url_for('SearchStore') }}">Store Search</a></li>
                <li><a href="{{ url_for('SearchItem') }}">Single Item Search</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Retail Arbitrage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"></a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>

                {% elif "Home" in CurrentPage %}
                 <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('Home') }}">Home</a></li>
                <li><a href="{{ url_for('SearchLow') }}">Lowest Price Search</a></li>
                <li><a href="{{ url_for('SearchStore') }}">Store Search</a></li>
                <li><a href="{{ url_for('SearchItem') }}">Single Item Search</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Retail Arbitrage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"></a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>


                {% elif "SingleItemSearch" in CurrentPage %}
                 <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav">
            <li><a href="{{ url_for('Home') }}">Home</a></li>
                <li><a href="{{ url_for('SearchLow') }}">Lowest Price Search</a></li>
                <li><a href="{{ url_for('SearchStore') }}">Store Search</a></li>
                <li class="active"><a href="{{ url_for('SearchItem') }}">Single Item Search</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Retail Arbitrage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"></a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>


                {% endif %}
                
            
			<form class="navbar-form navbar-right" role="search" method="post" id="searchform" action="{{ url_for('LogIn') }}">
				<div class="form-group">
					<input name="username" id="s" type="text" class="search-query form-control" autocomplete="off" placeholder="Email">
					<input name="password" id="s" type="password" class="search-query form-control" autocomplete="off" placeholder="Password">
					<button type="submit" class="btn btn-default">Sign In</button>
                </ul>
				</div>
			</form>
		</div>

    </div>
</div>
</html>
