<center>
<form action="{{url_for('SearchItemByLow')}}" method="post" div class="container">
<div class="row">
        <div class="col-md-6">
            <br><br><br><br>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" list="browsers" name="yourname" class="form-control input-lg" placeholder="Search Inventory for Lowest Price" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit" value="Submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>

        </div>

    </div>
</div>
</center>

<body>


<br>

<div class="container">
    <div class="row">
        
        <div class="col-lg-4">
            <div class="well" style='height: 370px;'>
                <h2 class="text-info">Economy</h2>
                <p><span class="label label-info">BUDGET</span></p>
                <ul>
                    <li>Search Database of 500 Stores</li>
                    <li>10 Searches Per Day</li>
                    <li>Access to Single Item Search</li>
                </ul>          
                
                <hr>
                <h3>FREE</h3>
                <h4>(Current Plan)</h4>
                <hr>
                <br>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="well" style='height: 370px;'>
                <h2 class="text-warning">Bronze</h2>
                <p><span class="label label-success">POPULAR</span></p>
                <ul>
                    <li>Search Entire Walmart Database</li>
                    <li>25 Searches per Day</li>
                    <li>Access to Walmart Store Database</li>
                    <li>Access to Single Item Search</li>
                </ul>          
                <hr>
                <h3>$7.99 / month</h3>
                <hr>
                <p><a class="btn btn-success btn-large" href="#"><i class="icon-ok"></i> <b>Select plan</b></a></p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="well" style='height: 370px;'>
                <h2 class="muted">Silver</h2>
                 <p><span class="label label-warning">POPULAR</span></p>
                <ul>
                    <li>Search Entire Walmart Database</li>
                    <li>Unlimited Daily Searches</li>
                    <li>Access to Walmart Store Database</li>
                    <li>Retail Arbitrage Toolkit</li>
                    <li>Access to API</li>
                </ul>          
                <hr>
                <h3>$24.99 / month</h3>
                <hr>
                <p><a class="btn btn-large" href="#" style="background-color: #f0ad4e; color: #FFFFFF"><i class="icon-ok" ></i> <b>Select plan</b></a></p>
            </div>
        </div>
    </div>
</div>